@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

nb-tabset {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep ngx-tab1, :host ::ng-deep ngx-tab2 {
  display: block;
  padding: 1rem 2rem;
}

.card {
  position: relative;
  border-radius: 10px;
}

.card_image {
  place-self: center;
  padding-left: 20px;
}

.card_icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.card_icon i {
  font-size: 20px;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
}

.no-gutters {
  height: 150px !important;
}

.header {
  font-size: 20px;
  font-weight: bold;
  padding-left: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sub-header {
  font-size: 16px;
  font-weight: bold;
  padding-left: 1px;
}

.rounded-circle {
  border-radius: 20px !important;
}

@include media-breakpoint-down(sm) {
  .control-item {
    display: none;
  }
  .user-action {
    border: none;
    padding: 0;
  }
}
