<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        <legend>Λίστα Παραλιών</legend>
      </div>
      <div style="text-align: right" class="col-md-6">
        <button slyle="text-transform: capitalize" nbButton size="small" status="primary" (click)="newForm()">
          Προσθήκη
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="true">
    <div *ngIf="BeachList.length === 0" class="row">
      <div slyle="text-align: center;padding-top: 30px;" class="col">
        <p>Δεν υπάρχει ακόμα καμία παραλία</p>
      </div>
    </div>
    <div *ngIf="BeachList.length !== 0">
      <nb-card *ngFor="let beach of BeachList; let i = index">
        <nb-card-body>
          <!--          Name of Beach-->
          <div class="row">
            <div *ngIf="beach.name" class="col col-sm-6 col-md-6" style="display: flex; justify-content: center;">
              <!--              <p>-->
              <!--                <span class="data-label">Όνομα</span>-->
              <!--              </p>-->
              <!--              <div style="display: flex; justify-content: center;">-->
              <!--                <div>Content within the centered div</div>-->
              <!--              </div>-->
              <div style="right: -600px;">
                <p class="data"><b>{{beach.name.toUpperCase()}}</b></p>
              </div>
              <!--              <p class="data"><b>{{beach.name}}</b></p>-->

              <!--              <div style="position: relative;">-->
              <!--                <button style="position: absolute; top: 10px; right: 10px;">Button</button>-->
              <!--              </div>-->

            </div>
            <!--            <button nbButton >INFO</button>-->

          </div>
          <!--          <div class="row">-->
          <!--            <div *ngIf="beach.category" class="col">-->
          <!--              <p>-->
          <!--                <span class="data-label">Κατηγορία Παραλίας:</span>-->
          <!--              </p>-->
          <!--              <p class="data"><b>{{beach.category}}</b></p>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="row">-->
          <!--            <div *ngIf="beach.tags" class="col">-->
          <!--              <p>-->
          <!--                <span class="data-label">Σύμβολο:</span>-->
          <!--              </p>-->
          <!--              <p class="data"><b>{{beach.tags}}</b></p>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="row">
            <div *ngIf="beach.type" class="col">
              <p>
                <span class="data-label">Τύπος</span>
              </p>
              <p class="data"><b>{{beach.type}}</b></p>
            </div>
          </div>
          <!--          Images of the beach-->
          <div class="row">
            <div *ngIf="beach.thumbnail" class="row">
              <!--              <div *ngFor="let image of beach.images">-->
              <!--              <p class="data"><b>{{beach.thumbnail}}</b></p>-->
              <div>
                <p class="data"><b><img src="https://api2.kic.uoi.gr/images/beach/resized-{{beach.thumbnail}}"
                                        alt="My Image"
                                        style="width: 200px; height: auto; border-radius: 10px; margin-left: 20px;"></b>
                </p>
              </div>
              <!--              <button nbButton>INFO</button>-->
            </div>
          </div>
          <div class="row">
            <div style="text-align:right" class="col">
              <!--              <p>{{i + 1}}</p>-->
            </div>
          </div>
        </nb-card-body>

      </nb-card>
    </div>
  </nb-card-body>

</nb-card>

